<!-- Footer -->
<footer role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="fh5co-footer-title">About</h2>
                    <p>A Free HTML5 templates created by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> &amp; Images by <a href="http://unsplash.com" target="_blank">Unsplash.com</a></p>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <h2 class="fh5co-footer-title">Offices</h2>
                    <address>54561<br>南投縣埔里鎮大學路 303 號</address>
                </div>
                <div class="col-md-2">
                    <h2 class="fh5co-footer-title">Connect</h2>
                    <ul class="fh5co-footer-links">
                        <li><a href="https://www.facebook.com/CSIESO.NCNU/" class="fh5co-link"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                        <li><a href="https://github.com/NCNU-CSIE" class="fh5co-link"><i class="fa fa-github"></i>Github</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="fh5co-copyright">
                        <p class="pull-left">&copy;	Relic 2015. All Rights Reserved. <br> Lovely crafted by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> Images by <a href="http://unsplash.com/">Unsplash</a> </p> 
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
    <!-- Footer -->

    <!-- Go To Top -->
    <a href="#" class="fh5co-gotop"><i class="ti-angle-up"></i></a>
    
        
    <!-- jQuery -->
    <script src="{{ STATIC_URL }}relic/js/jquery-1.10.2.min.js"></script>
    <!-- jQuery Easing -->
    <script src="{{ STATIC_URL }}relic/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="{{ STATIC_URL }}relic/js/bootstrap.js"></script>
    <!-- Owl carousel -->
    <script src="{{ STATIC_URL }}relic/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="{{ STATIC_URL }}relic/js/jquery.magnific-popup.min.js"></script>
    <!-- Easy Responsive Tabs -->
    <script src="{{ STATIC_URL }}relic/js/easyResponsiveTabs.js"></script>
    <!-- FastClick for Mobile/Tablets -->
    <script src="{{ STATIC_URL }}relic/js/fastclick.js"></script>
    <!-- Velocity -->
    <script src="{{ STATIC_URL }}relic/js/velocity.min.js"></script>
    <!-- Main JS -->
    <script src="{{ STATIC_URL }}relic/js/main.js"></script>

</body>
</html>
