{% include "relic/header.html" %}
		
		<!-- Main -->
		<main role="main">
			
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Vertical Menu Tabs -->				
						<div class="resp-tabs-container hor_1">
							
							<div>
								<div class="row">
									
									<div class="col-md-12">
										<h2 class="h3"><a href="../gallery?id={{ gallery_arr.UID }}">{{ gallery_arr.title }}</h2></a>
										<p><small>{{ gallery_arr.date }}</small></p>	
									</div>
									
									{% for j in gallery_arr.url_arr %}
									<div class="col-md-2">
										<a href='{{ j.url }}' ><img src='{{ j.thumb_url }}' class='thumbnail'></a>
									</div>
									{% endfor %}
									
								</div>
							</div>
							
						</div>						
						<!-- Vertical Menu Tabs -->
						</div>
					</div>
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>
				

	

		</main>
		<!-- Main -->
	
		{% include "relic/buttom.html" %}	